<p id="notice"><%= notice %></p>

<h1><%= link_to 'Strava', '/' %></h1>

  <%= link_to 'Click to alow access to strava', @strava_grant_request_url %>


<br>

<%#= link_to 'New Strava', new_strava_path %>
